{% load menu_tags %}
{% for child in children %}
    {% if not child.menu_level %}{% cycle "<ul class='twelve columns'>" "" "" %}{% endif %}
    <li class="">
        <a href="{{ child.attr.redirect_url|default:child.get_absolute_url }}">{{ child.get_menu_title }}</a>
        {% if child.children %}
            <ul>
                {% show_menu from_level to_level extra_inactive extra_active template "" "" child %}
            </ul>
        {% endif %}
    </li>
    {% if not child.menu_level %}{% cycle "" "" "</ul>" %}{% endif %}
{% endfor %}

